### 1. What is the output of the following code?

In [3]:
s1 = {" Andrea", "Annabelle", "Olaf"}
s2 = {"Olaf", "Claus", "Mike"}

In [4]:
print(s1.intersection(s2))

{'Olaf'}

The `intersection()` method returns a set that contains the similarity between two or more sets.

### 2.  What is the output of the following code? Explain in one sentence why this is the output.

In [38]:
def square (x):
    y = x*x
   
    
print(square(4))

16
None

Since there isn't a `return` statement inside of the function (which would ideally return `y`, and therefore the print function would print out 16), the return value of the function is `None`. 

<u>From the previous notebook</u>:
* `return` is the main way that a function returns a value. All functions will return a value, and if there is no return statement, it will return `None`. The value that is returned by a function can then be further used as an argument passed to another function, stored as a variable, or just printed for the benefit of the human user.

### 3. Write a line of code that gets the value of the key "marks".

In [8]:
student = {"name": "Emma",
           "class": 9,
           "marks":75}

In [78]:
student.get("marks")

75

In [13]:
student["marks"]

75

### 4. Write one line of code which outputs the word 'holidays'.

In [82]:
greeting = ('Merry', 'Christmas', 'and', 'happy', 'holidays')
greeting[-1]

'holidays'

In [81]:
greeting[4]

'holidays'

### 5. Write a short function that takes in as patameters: a persons first name, last name (optional) and the date of birth.

The function should return first name, last name and current age (if we consider that the person has already had a birthday this year).

In the end print out a function call (put in your first name and date of birth).

In [83]:
def person (firstname, birthdate, lastname = None):
        age = 2022 - int(birthdate)
        return firstname, age, lastname
    
person("Lucija", 1994, "Krušić")

('Lucija', 28, 'Krušić')

### 6. What does this program ouput?

In [29]:
def my_function(a, b=None, c=None):
    if b is not None and c is not None:
        rv = (a + b) * c
    elif b is not None:
        rv = a + b
    elif c is not None:
        rv = a * c
    else:
        rv = a
    return rv

print(my_function(5, c=2))

10

 ### 7. a) We add a new element to a tuple by using the function add():

<b>True or false ?</b>

In [32]:

coordinates = (5,12)

coordinates.add(3)

AttributeError: 'tuple' object has no attribute 'add'

`False`, tuples are immutable (cannot be changed).

###  b) Chose the correct method of adding values to the empty set:

In [33]:
seasons = set ()

In [34]:
seasons.insert(-1,'Autumn')
seasons

AttributeError: 'set' object has no attribute 'insert'

In [35]:
seasons.append('Winter')
seasons

AttributeError: 'set' object has no attribute 'append'

In [36]:
seasons.add('Summer')
seasons

{'Summer'}

In [37]:
seasons[1] = 'Spring'
seasons

TypeError: 'set' object does not support item assignment

`add()` works with sets

### c) What do the following lines of code return?

In [42]:
texts = {"poem", "play", "essay"}
"novel" in texts

False

`in` tests if "novel" exists in "texts". Since there isn't such an item, the return value is `False`.

### d)  Write one line of code to remove the tuple:

In [44]:
coordinates = (5,17)
del coordinates
coordinates

NameError: name 'coordinates' is not defined

In [ ]:
`

### e) What's the output of the following code?

In [73]:
movies = {'Harry Potter and the Chamber of Secrets', 'The Color Purple', 'The Menu', 'IT', 'Disenchanted', 'Psycho', 'Everything is Illuminated'  }

books = {'the Color Purple', 'The Midnight Library', 'Harry Potter and the Chamber of Secrets', 'It', 'Extremely Loud & Incredibly Close'  }

books.isdisjoint(movies)

False

The `isdisjoint()` method returns `True` if two sets don't have any common items between them, i.e. they are disjoint. Else the returns `False`.

### f) Write one line of code that deletes everything from 'students':

In [16]:
students = {'Tim', 'Tam', 'Tin', 'Tone'}
students.clear()
print(students)

set()